{
    "env": {
        "browser": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        "max-nested-callbacks": ["error", 3],
        "max-depth": ["warn", 4],
        "no-trailing-spaces": ["error", { "ignoreComments": true }],
        "comma-dangle": ["error", "always-multiline"],
        "semi": "error"
    }
}
